.main-flex-container {
    display: flex;
    align-items: flex-start;
    gap: 250px;
    padding: 20px;
    margin: 20px;
}

#map {
    width: 800px;
    height: 600px;
    min-width: 400px;
    min-height: 300px;
    background: #ffffff;
    margin: 10px 0;
    z-index: 0;
}

.time-range-selector {
    min-width: 180px;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1.1em;
    margin: 10px 10px;
    z-index: 1;
}

.time-control {
    padding: 16px 20px;
    border: 3px solid black;

}

.hurricaneControls {
    padding: 16px 20px;
    margin: 10px 0;
    border: 3px solid black;
}

.hurricaneCharacteristics {
    margin: 15px 0;
    display: block;
    line-height: 1.5;
}

#About {
   position: relative;
   top: -70px;
   text-decoration: underline;
   font-size: 22px;
}

#aboutDescription {
    top: -85px;
    position: relative;
}

#Limitations {
   position: relative;
   top: -60px;
   text-decoration: underline;
   font-size: 22px;
}

#limitationsDescription {
    top: -75px;
    position: relative;
}

#Data {
   position: relative;
   top: -65px;
   text-decoration: underline;
   font-size: 22px;
}

#dataDescription {
    top: -75px;
    position: relative;
}

.capital-label {
    font-size:  10px;
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}

#HurricaneCount{
    position: absolute;
    margin-top: 550px;
    margin-left: -40px;
    font-size: 18px;
}

#yearRank{
    position: absolute;
    margin-top: 575px;
    margin-left: -40px;
    font-size: 18px;
}

.color-scale-wrapper {
    position: absolute;
    width: 200px; /* match #colorElement */
    height: 40px; /* enough space to position labels above/below */ 
    margin-left: -40px;
}

#colorElement {
    width: 150%;
    height: 30px;
    /* background: linear-gradient(to right, white, darkred); */
    border: 3px solid black;
}

#lowNumber, #highNumber {
    position: absolute;
    font-size: 0.9em;
}

#lowNumber {
    left: 0;
    top: 25px; /* just below the color bar */
}

#highNumber {
    right: -100px;
    top: 25px; /* just below the color bar */
}

#colorscaleLabel {
    position: absolute;
    top: -20px;
}

#hurricane_button {
    margin-top: 5px;
}

/*Mobile Optimization*/
@media (max-width: 767px) {
    #colorscaleLabel {
        top: -40px;
    }
    .main-flex-container {
        gap: 400px;
    }
    #About {
        top: -240px;
    }

    #aboutDescription {
        top: -255px;
    }

    #Limitations {
        top: -230px;
    }

    #limitationsDescription {
        top: -245px;
    }

    #Data {
        top: -235px;
    }

    #dataDescription {
        top: -245px;
    }
    #yearRank {
        margin-top: 625px;
    }
}
